.encabezado {
    background-color: #112B45 !important;
    color: white !important;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.icono-usuario img {
    min-height: 60px;
}

.monto {
    font-weight: bold;
    color: #F4C542;
    font-size: 1.5rem;
}

.encabezado h2 {
    font-size: 1.4rem;
    text-align: center;
    margin: 0;
}

.encabezado .saludo {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

img {
    max-width: 100%;
    height: auto;
}


.encabezado .monto {
    font-weight: bold;
    color: #ffcc00;
}

/* Menu */

.navbar-toggler {
    background-color: #0A1A2F;
    border: none;
    padding: 6px;
    border-radius: 6px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23ffcc00' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.offcanvas-header {
    background-color: #112B45;
    color: #f8f9fa;
}

.nav-link {
  color: #0A1A2F;              
  padding: 10px 15px;        
  border-radius: 6px;        
  transition: all 0.3s ease; 
  display: block;            
}

.nav-link:hover {
  background-color: #ffcc00; 
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  transform: translateY(-2px); 
}

.offcanvas-body {
  background-color: #f8f9fa;
}

.iso {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

/* Footer */
.footer {
    background-color: #0A1A2F;
    color: white;
    border-top: 2px solid #F4C542;
    justify-content: center;
    bottom: 0;  
    text-align: center;
    position: fixed;
}

.footer p {
    margin-top: 15px;
}


@media (max-width: 575.98px) {
    .card-saldo {
        max-width: 400px;
        max-height: fit-content;
    }
}