body {
    background-color: #f8f9fa;
}

main {
    padding: 0% !important;
}

/* Encabezado */

.encabezado {
    background-color: #112B45 !important;
    color: white !important;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.icono-usuario img {
    min-height: 60px;
}

.monto {
    font-weight: bold;
    color: #F4C542;
    font-size: 1.5rem;
}

.encabezado h2 {
    font-size: 1.4rem;
    text-align: center;
    margin: 0;
}

.encabezado .saludo {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

/* Menu */

.navbar-toggler {
    background-color: #0A1A2F;
    border: none;
    padding: 6px;
    border-radius: 6px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23ffcc00' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.offcanvas-header {
    background-color: #112B45;
    color: #f8f9fa;
}

.nav-link {
    color: #0A1A2F;
    padding: 10px 15px;
    border-radius: 6px;
    transition: all 0.3s ease;
    display: block;
}

.nav-link:hover {
    background-color: #ffcc00;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.offcanvas-body {
    background-color: #f8f9fa;
}

.iso {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/* Tarjeta */

.card-tarjeta {
    background-image: url(../Image/tarjeta.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 400px;
    min-height: 200px;
    aspect-ratio: 16/9;
    border-radius: 12px;
    display: flex;
    padding: 1rem;
    color: #ffcc00;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/*Banner */

.banner-full {
    width: 100%;
    height: 200px;
    background-image: url('../Image/banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido-banner {
    text-align: center;
    color: white;
    padding: 1rem;
}

/* Movimientos */

.contenido-extra ul {
    padding: 6px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

h3 {
    font-size: 1rem;
    margin-bottom: 30px;
}

.btn-success {
    background-color: #112B45 !important;
    border-color: #112B45 !important;
    color: #fff;
}

.btn-success:hover {
    background-color: #0A1A2F !important;
    border-color: #0A1A2F !important;
}

/* Beneficios */

.titulo-beneficios {
    color: #0A1A2F;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
}

.icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.card-img-top {
    height: 180px;
    object-fit: cover;
}

.card-body {
    min-height: 120px;
}


/* Footer */
.footer {
    background-color: #0A1A2F;
    color: white;
    border-top: 2px solid #F4C542;
    justify-content: center;
    text-align: center;
}

.footer p {
    margin-top: 15px;
}


@media (max-width: 575.98px) {
    .card-saldo {
        max-width: 400px;
        max-height: fit-content;
    }
}